In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mpl

In [ ]:
df = pd.DataFrame({'Tipovivienda':['Casa','Apartamento','Apartaestudio'],'precio':[2500000,2000000,1400000],'area':[120,70,40]})

In [ ]:
print(df)

    Tipovivienda   precio  area
0           Casa  2500000   120
1    Apartamento  2000000    70
2  Apartaestudio  1400000    40

In [ ]:
print(df[['Tipovivienda','precio']])

    Tipovivienda   precio
0           Casa  2500000
1    Apartamento  2000000
2  Apartaestudio  1400000

In [ ]:
edades=[25,32,55,72,18]

In [ ]:
ver = pd.Series(edades)
print(ver)

0    25
1    32
2    55
3    72
4    18
dtype: int64

In [ ]:
dtf2 = pd.read_CSV('mnist_test.csv')